body{
  background-color: black !important;
}

.title{
  width: 400px;
  margin: auto;
  border-bottom: 2px solid rgb(60, 60, 60)
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square{
  border: 2px solid rgb(60, 60, 60);
  min-height: 60px;
  min-width: 60px;
  font-size: 50px;
  font-weight: bold;
  color: lightgray;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard {
  height: 200px;
}

.krow {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto 8px;
  touch-action: manipulation;
} 

.krow button {
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 60px;
  cursor: pointer;
  background-color: rgb(130, 130, 130);
  color: rgb(215, 215, 215);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.krow button.wide-button {
  flex-grow: 1.5;
}